.summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #E5F5FF;
    color: #1A5190;
    border-radius: 25px;
}

.date-task {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 50px;
    margin: 0
}
.date-task h2, p {
    margin: 0;
    padding: 5px;
}

.date-task h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
}

.date-task p{
    font-size: 18px;
    text-align: left;
}


.time h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: right;
    padding: 10px 60px;
    margin: 0;
}